<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="insta_logo">
      <img src="../../assets/instagram-new-logo.png" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="ios-send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollbar-x="false">
  <div class="text_stories">
    <p>Stories</p>
    <p>see all</p>
  </div>
  <div class="stories ">
    <div class="story ">
      <div class="add_story img-box">
        <img
          src="https://images.unsplash.com/photo-1529068755536-a5ade0dcb4e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=801&q=80"
          width="50px"
          height="50px"
        />
        <ion-icon color="primary" name="add-circle"></ion-icon>
      </div>
      <p>KuttySelva</p>
    </div>
    <div class="story">
      <div class="img-box">
        <img
          src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
          width="50px"
          height="50px"
        />
      </div>
      <p>Senapathi</p>
    </div>
    <div class="story">
      <div class="img-box">
        <img
          src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
          width="50px"
          height="50px"
        />
      </div>
      <p>Lingesh</p>
    </div>
    <div class="story">
      <div class="img-box">
        <img
          src="https://images.unsplash.com/photo-1502877828070-33b167ad6860?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=821&q=80"
          width="50px"
          height="50px"
        />
      </div>
      <p>Vanmanthi</p>
    </div>
    <div class="story">
      <div class="img-box">
        <img
          src="https://images.unsplash.com/photo-1494158064015-7ff877b5bb2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
          width="50px"
          height="50px"
        />
      </div>
      <p>Rose</p>
    </div>
  </div>
  <hr />
  <ion-item no-padding lines=" none">
    <ion-avatar slot="start">
      <img
        src="https://images.unsplash.com/photo-1529068755536-a5ade0dcb4e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=801&q=80"
      />
    </ion-avatar>
    <ion-label>Minion_kutty <span class="location">spain</span></ion-label>
    <ion-icon slot="end" name="more"></ion-icon>
  </ion-item>
  <img
    class="post_img"
    src="https://images.unsplash.com/photo-1500762728065-466b7a170c96?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
  />
  <div class="flex-button">
    <div>
      <ion-icon color="danger" class="m-icon" name="heart"></ion-icon>
      <i class="far fa-comment m-icon fa-lg m-icon cmt"></i>
      <ion-icon name="paper-plane" class="m-icon"></ion-icon>
    </div>
    <i class="far fa-bookmark fa-lg m-book"></i>
  </div>
  <p class="insta-text"><b> 47 Likes </b></p>
  <p class="insta-text">
    <b> Minion_kutty </b> highway love
    <ion-text color="primary"> #trekboi</ion-text>
  </p>
  <p class="comment insta-text">View all 4 comments</p>
  <hr />
  <ion-item no-padding lines=" none">
    <ion-avatar slot="start">
      <img
        src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
      />
    </ion-avatar>
    <ion-label>sena_boii <span class="location">far from home</span></ion-label>
    <ion-icon slot="end" name="more"></ion-icon>
  </ion-item>
  <img
    class="post_img"
    src="https://images.unsplash.com/photo-1578691550213-360ac62292eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80"
  />
  <div class="flex-button">
    <div>
      <ion-icon color="danger" class="m-icon" name="heart"></ion-icon>
      <i class="far fa-comment fa-lg m-icon cmt"></i>
      <ion-icon name="paper-plane" class="m-icon"></ion-icon>
    </div>
    <i class="far fa-bookmark fa-lg m-book"></i>
  </div>
  <p class="insta-text"><b> 24 Likes </b></p>
  <p class="insta-text">
    <b> sena_boii </b> Under moon light
    <ion-text color="primary"> #canon_100</ion-text>
  </p>
  
  <p class="comment insta-text">View all 8 comments</p>

  <hr />
  <ion-item no-padding lines=" none">
    <ion-avatar slot="start">
      <img
        src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
      />
    </ion-avatar>
    <ion-label>ling_boi <span class="location">park</span></ion-label>
    <ion-icon slot="end" name="more"></ion-icon>
  </ion-item>
  <img
    class="post_img"
    src="https://images.unsplash.com/photo-1578347485613-3d9b213d5f93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMDk0fQ&auto=format&fit=crop&w=500&q=60"
  />
  <div class="flex-button">
    <div>
      <ion-icon color="dark" class="m-icon" name="heart-empty"></ion-icon>
      <i class="far fa-comment fa-lg m-icon cmt"></i>
      <ion-icon name="paper-plane" class="m-icon"></ion-icon>
    </div>
    <i class="far fa-bookmark fa-lg m-book"></i>
  </div>
  <p class="insta-text"><b> 875 Likes </b></p>
  <p class="insta-text">
    <b> ling_boii </b> Monsoon love
    <ion-text color="primary"> #awesome</ion-text>
  </p>
  <p class="comment insta-text">View all 12 comments</p>

  <hr />
  <ion-item no-padding lines=" none">
    <ion-avatar slot="start">
      <img
        src="https://images.unsplash.com/photo-1502877828070-33b167ad6860?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=821&q=80"
      />
    </ion-avatar>
    <ion-label>vaan_boi <span class="location">sweet home</span></ion-label>
    <ion-icon slot="end" name="more"></ion-icon>
  </ion-item>
  <img
    class="post_img"
    src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60"
  />
  <div class="flex-button">
    <div>
      <ion-icon color="danger" class="m-icon" name="heart"></ion-icon>
      <i class="far fa-comment fa-lg m-icon cmt"></i>
      <ion-icon name="paper-plane" class="m-icon"></ion-icon>
    </div>
    <i class="far fa-bookmark fa-lg m-book"></i>
  </div>
  <p class="insta-text"><b> 875k Likes </b></p>
  <p class="insta-text">
    <b> vaan_boi </b> fresh brushed
    <ion-text color="primary"> #colgate</ion-text>
  </p>
  <p class="comment insta-text">View all 24 comments</p>
  <br />
  <ion-spinner class="center" name="crescent"></ion-spinner>
</ion-content>
