<ion-header>
  <ion-toolbar>
    <div class="user_tab">MinionKutty <ion-icon class="prime_icon" color="primary" name="checkmark-circle"></ion-icon></div>
    <ion-buttons slot="end">
      <ion-button color="dark">
        <ion-icon size="large" name="menu"></ion-icon>
      </ion-button>
      <ion-badge color="danger" class="position">2</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br />
  <div class="flex">
    <div class="stories">
      <div class="story ">
        <div class="add_story img-box">
          <img
            class="dash"
            src="https://images.unsplash.com/photo-1562124638-724e13052daf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
            width="50px"
            height="50px"
          />
          <ion-icon color="primary" class="prime_icon_add" name="add-circle"></ion-icon>
        </div>
      </div>
    </div>

    <div class="info_box flexdata">
      <div class="data_box">
        <b>12</b>
        <p>Posts</p>
      </div>
      <div class="data_box">
        <b>718.5M</b>
        <p>Followers</p>
      </div>
      <div class="data_box">
        <b>72</b>
        <p>Following</p>
      </div>
    </div>
  </div>
  <div class="profile">
    <p>
      😻Kutty selva😻 <br />I am a Minion 😜💕 <br />
      Manufactured on july 5 🎂
    </p>
    <p></p>
  </div>
  <div class="edit_profile">
    <ion-button fill="outline" color="dark" class="edit_button" expand="block"
      >Edit Profile</ion-button
    >
  </div>

  <div class="memories ">
    <div class="story ion-text-center">
      <div class="add_story img-box add_plus"  >
        <h1 class="add ion-text-center">+</h1>
      </div>
      <p>Add</p>
    </div>
    <div class="story ion-text-center">
      <div class="img-box">
        <img
          src="https://images.unsplash.com/photo-1490650034439-fd184c3c86a5?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
          width="50px"
          height="50px"
        />
      </div>
      <p>Cat</p>
    </div>
    <div class="story ion-text-center">
      <div class="img-box">
        <img
          src="https://images.unsplash.com/photo-1433023396640-673394a1faa8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
          width="50px"
          height="50px"
        />
      </div>
      <p>Tom</p>
    </div>
  </div>
  <hr/>
  <ion-segment>
    <ion-segment-button>
      <ion-icon name="grid"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="list"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  
<div class="grid">
  <div class="img_box" style="background-image: url('https://images.unsplash.com/photo-1564948176129-c8bb8368d292?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=749&q=80');"></div>
  <div class="img_box" style="background-image: url('https://images.unsplash.com/photo-1529758597842-15d98e72705b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=768&q=80');"></div>
  <div class="img_box" style="background-image: url('https://images.unsplash.com/photo-1487530811176-3780de880c2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80');"></div>
  <div class="img_box" style="background-image: url('https://images.unsplash.com/photo-1570461121477-846eadb013b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=769&q=80');"></div>
  <div class="img_box" style="background-image: url('https://images.unsplash.com/photo-1559209540-29d68869e2bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80');"></div>
  <div class="img_box" style="background-image: url('https://images.unsplash.com/photo-1529068755536-a5ade0dcb4e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=801&q=80');"></div>
  <div class="img_box" style="background-image: url('https://images.unsplash.com/photo-1525382455947-f319bc05fb35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=814&q=80');"></div>
  <div class="img_box" style="background-image: url('https://images.unsplash.com/photo-1576222901803-c062b57925b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=775&q=80');"></div>
  <div class="img_box" style="background-image: url('https://images.unsplash.com/photo-1462331940025-496dfbfc7564?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=827&q=80');"></div>
  <div class="img_box" style="background-image: url('https://images.unsplash.com/photo-1516864351034-bf734fd2c77e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=767&q=80');"></div>
  <div class="img_box" style="background-image: url('https://images.unsplash.com/photo-1465311354905-789ff5f7a457?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80');"></div>
  <div class="img_box" style="background-image: url('https://images.unsplash.com/photo-1443181844940-9042ec79924b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=801&q=80');"></div>

</div>

</ion-content>
